body {
    margin: 10px;
    padding: 10px;
    font-family: montserrat, serif;
    background: -webkit-linear-gradient(120deg, cornflowerblue,lightskyblue);
    height: 100vh;
    overflow: auto;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
.center{
    text-align: center;
    position: center;
    width: 980px;
    border-radius: 10px;
    margin-left: 20%;

}
.Uge {
    margin-left: -74%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    padding: 2px;
}
th {
    background-color: #4e9bd0;
    font-size: 20px;
}
table{
    background-color: #dddddd;
    margin-bottom: 40px;
}
tr:nth-child(even) {background-color: #eeeeee}
tr:hover {background-color: rgba(112, 142, 173, 0.99)
}