body{

    background: linear-gradient(120deg, dodgerblue,#99a2b0);
    font-family: montserrat, serif;
}

h1{
    text-align: center;
}
form{
    text-align: center;
    margin: 10px;
}
table, th, td {
    font-family: montserrat, serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}

th {
    background: rgba(255, 240, 245, 0.82);
    border-radius: 10px;
    font-size: 20px;
}
table{
    background: lavenderblush;
    border-radius: 10px;
}
tr:nth-child(even) {background: #FCC6D8FF}
tr:hover {background-color: rgba(203, 214, 225, 0.99)
}