body {
    margin: 10px;
    padding: 0;
    font-family: montserrat, fantasy;
    background: -webkit-linear-gradient(120deg, cornflowerblue,lightskyblue);
    height: 100vh;
    overflow: auto;
}
.center{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 480px;
    background: whitesmoke;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: black;

}
.center form {
    box-sizing: border-box;
}
form .txt_field {
    position: center;
    border-bottom: none;
    margin: 10px 20px;
}
form .txt_field {
    position: center;
    border-bottom: none;
    margin: 10px 20px;
}
.txt_field input {
    position: relative;
    top: 10%;
    left: -5px;
    color: black;
    font-size: 18px;
}

.txt_field label {
    margin-right: 20px;
    position: relative;
    top: 10%;
    left: -5px;
    color: black;
    font-size: 18px;
}
