body {
    margin: 0;
    padding: 0;
    background-color: #4e9bd0;
}
/*
.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(187,187,245);
    color: #fff;
}
.card {
    width: 350px;
}
*/