body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, dodgerblue,#99a2b0);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-30%-30%);
    width: 480px;
    background: lavenderblush;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid darkblue;

}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field {
    position: center;
    border-bottom: none;
    margin: 30px -20px;
}

txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
form .txt_field {
    position: center;
    border-bottom: none;
    margin: 30px 20px;
}

txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: red;
    transform: translateY(-40%);
    font-size: 16px;
    pointer-events: none;
}
form .password {
    position: relative;
    border-bottom: none;
    margin: 30px 40px;
}
form .button {
    position: relative;
    border-bottom: none;
    margin: 30px 140px;
}
